{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <!-- 설문 제목 -->
    <h1 class="page-header d-flex justify-content-center border-bottom py-2 my-4" style="background-color: pink">AI·디지털 역량 강화 직무연수 만족도 조사</h1>
    <div class="card-text d-flex justify-content-center my-3" style="white-space: pre-line;">본 설문은 총 5개 영역으로 구성되어 있습니다. 모든 문항에 답변을 하고 오른쪽 하단 있는 ‘다음’ 버튼을 눌러서 진행해주세요.</div>
    <h2 class="my-4" style="background-color: #f0f0f0">{{ survey_title.num }}. {{ survey_title.title }}</h2>
        {% if (survey_title.num == 1) %}
        <div class="card-text" style="white-space: pre-line;">다음은 귀하의 일반적인 배경에 대한 물음입니다. 귀하의 것과 일치하는 것을 클릭해 주세요.</div>
        {% elif (survey_title.num == 2) %}
        <div class="card-text" style="white-space: pre-line;">다음은 AI·디지털 역량 강화를 위한 중등 마스터 교원 직무연수 프로그램에 대한 만족도 물음입니다. 귀하의 생각과 일치하는 것을 클릭해 주세요.</div>
        {% elif (survey_title.num == 3) %}
        <div class="card-text" style="white-space: pre-line;">다음은 AI·디지털 역량 강화를 위한 중등 마스터 교원 직무연수 운영에 대한 물음입니다. 귀하의 생각과 일치하는 것을 클릭해 주세요.</div>
        {% elif (survey_title.num == 4) %}
        <div class="card-text" style="white-space: pre-line;">다음은 AI·디지털 역량 강화를 위한 중등 마스터 교원 직무연수 강사별 만족도에 대한 물음입니다. 귀하의 생각과 일치하는 것을 클릭해 주세요.</div>
        {% else %}
        <div class="card-text" style="white-space: pre-line;">다음은 AI·디지털 역량 강화를 위한 중등 마스터 교원 직무연수에 대한 개선사항이나 불편한 점 등을 자유롭게 기술해 주십시오.</div>
        {% endif %}

    <form method="post" class="my-3" >
        <!-- 설문 내용 -->
        {% for survey_content in survey_title.survey_content_set %}
            {% if (survey_title.num == 4) %}
                {% if (survey_content.num == 1) %}
                <div class="my-3 card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-text" style="white-space: pre-line;">장병철 - 인공지능/머신러닝 이해</h5>
                    </div>
                </div>
                {% elif (survey_content.num == 4) %}
                <div class="my-3 card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-text" style="white-space: pre-line;">김효은 - 인공지능 윤리 탐구</h5>
                    </div>
                </div>
                {% elif (survey_content.num == 7) %}
                <div class="my-3 card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-text" style="white-space: pre-line;">김창석 - 데이터 과학 이해</h5>
                    </div>
                </div>
                {% elif (survey_content.num == 10) %}
                <div class="my-3 card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-text" style="white-space: pre-line;">서정호 - AI 융합(활용)수업 사례 I</h5>
                    </div>
                </div>
                {% elif (survey_content.num == 13) %}
                <div class="my-3 card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-text" style="white-space: pre-line;">채수진 - AI 융합(활용)수업 사례 II</h5>
                    </div>
                </div>
                {% elif (survey_content.num == 16) %}
                <div class="my-3 card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-text" style="white-space: pre-line;">허희옥 - 교수설계 이해</h5>
                    </div>
                </div>
                {% elif (survey_content.num == 19) %}
                <div class="my-3 card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-text" style="white-space: pre-line;">김수환 - 성찰 및 토론</h5>
                    </div>
                </div>
                {% elif (survey_content.num == 20) %}
            <hr style="height: 25px; background-color : pink;">
            <div class="card-text d-flex justify-content-center my-3" style="white-space: pre-line;">다음은 반별로 나누어 진행한 사항에 대한 만족도 조사입니다. 해당하는 반에 만족도를 체크하시고 다른 반에는 '해당없음'을 체크해주시기 바랍니다.</div>

                <div class="my-3 card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-text" style="white-space: pre-line;">이소율 - 수업설계(A반 - 1~10팀)</h5>
                    </div>
                </div>
                {% elif (survey_content.num == 21) %}
                <div class="my-3 card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-text" style="white-space: pre-line;">이경희 - 수업설계(B반 - 11~20팀)</h5>
                    </div>
                </div>
                {% endif %}

            {% endif %}

            <div class="card my-3">
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;">{{ survey_content.content }}</div>
                </div>
            </div>

            {% if (survey_content.usage == 3) %}
            <div class="mb-3">
                <textarea name= "{{ survey_content.id }}" value="" id="content" class="form-control" rows="5" required></textarea>
            </div>
            {% elif (survey_content.usage == 4) %}
                {% for survey_example in survey_content.survey_example_set %}
                <div class="btn btn-light">
                    {% if (survey_example.example == "기타") %}
                    <input class="form-check-input" type="checkbox" name="{{ survey_content.id }}" value="{{ survey_example.example or '' }}">
                    <label class="form-check-label" for="{{ survey_example.id }}">
                    {{ survey_example.example }} <input name="{{ survey_content.id }}기타" type="text">
                    </label>
                    {% else %}
                    <input class="form-check-input" type="checkbox" name="{{ survey_content.id }}" value="{{ survey_example.example }}" id= "a{{ survey_example.id }}">
                    <label class="form-check-label" for="a{{ survey_example.id }}">
                    {{ survey_example.example }}
                    </label>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
                {% for survey_example in survey_content.survey_example_set %}
                <div class="btn btn-light">
                    {% if (survey_example.example == "기타") %}
                    <input class="form-check-input" type="radio" name="{{ survey_content.id }}" value="{{ survey_example.example or '' }}" required>
                    <label class="form-check-label" for="{{ survey_example.id }}">
                    {{ survey_example.example }} <input name="{{ survey_content.id }}기타" type="text">
                    </label>
                    {% else %}
                    <input class="form-check-input" type="radio" name="{{ survey_content.id }}" value="{{ survey_example.example }}" id= "{{ survey_example.id }}" required>
                    <label class="form-check-label" for="{{ survey_example.id }}">
                    {{ survey_example.example }}
                    </label>
                    {% endif %}
                </div>

                {% endfor %}

            {% endif %}
        {% endfor %}
        {% if (survey_title.num == 5) %}
        <input class="btn btn-success" type="submit" value="답변등록" class="btn btn-primary" style="float: right;">
        {% else %}
        <input class="btn btn-success" type="submit" value="다음" class="btn btn-primary" style="float: right;">
        {% endif %}
    </form>
</div>
{% endblock %}
